:root {
  --swipe-animation-duration: 0.5s;
  --swipe-animation-timing-function: ease-in-out;
}
@keyframes dislikeAnimation {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-200%);
    opacity: 0;
  }
}

@keyframes likeAnimation {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(200%);
    opacity: 0;
  }
}

.likeSwipe {
  animation: likeAnimation var(--swipe-animation-duration)
    var(--swipe-animation-timing-function) forwards;
  -webkit-transition: var(--swipe-animation-duration)
    var(--swipe-animation-timing-function);
  transition: var(--swipe-animation-duration)
    var(--swipe-animation-timing-function);
}

.dislikeSwipe {
  animation: dislikeAnimation var(--swipe-animation-duration)
    var(--swipe-animation-timing-function) forwards;
  -webkit-transition: var(--swipe-animation-duration)
    var(--swipe-animation-timing-function);
  transition: var(--swipe-animation-duration)
    var(--swipe-animation-timing-function);
}
